/*
curly braces
name
curly braces
assignment
curly braces
name
curly braces
global name
parenthesis
name
normal
name
parenthesis
semicolon
name
*/


.global-name { color: #000000;}

.name { color: #888888; }
.curly-braces { color: #000000; }
.parenthesis { color: #1C00FF; }
.assignment { color: #1C00FF; }
.semicolon { color: #1C00FF; } 

.comment { color: #008888; } 
.string { color: #008888; }
.number { color: #888888; }
.zilde { color: #0A0088; }

/*

comment: '#008888'     
string: '#008888'  
number: '#888888'
zilde: '#0A0088' 

*/