.dzaima#output { background-color: #14141A; }

.dzaima .assignment { color: #ffff00; }
.dzaima .bracket { color: #888888; }
.dzaima .comment { color: #898989; }
.dzaima .cursor { }
.dzaima .dfn-level2 { color: #eebb44; }
.dzaima .dfn-level3 { color: #cc7799; }
.dzaima .dfn-level4 { color: #ccdd00; }
.dzaima .dfn-level5 { color: #b63cda; }
.dzaima .dfn { color: #aa77bb; }
.dzaima .diamond { color: #ffff00; }
.dzaima .dyadic-operator { color: #ffdd66; }
.dzaima .error { color: #ff0000; font-weight: bold; text-decoration: underline; }
.dzaima .function { color: #00ff00; }
.dzaima .global-name { }
.dzaima .idiom { color: #808080; font-weight: bold; text-decoration: underline; }
.dzaima .keyword { color: #aaaa22; }
.dzaima .label { text-decoration: underline; }
.dzaima .line-number { color: #bb9944; }
.dzaima .matching-bracket { font-weight: bold; }
.dzaima .modified-line { }
.dzaima .monadic-operator { color: #dd9955; }
.dzaima .normal { color: #d0d0d0; }
.dzaima .number { color: #aa88bb; }
.dzaima .search-match { }
.dzaima .selection { }
.dzaima .semicolon { color: #888888; }
.dzaima .string { color: #ddaaee; }
.dzaima .system-command { color: #00ffff; }
.dzaima .tracer { }
.dzaima .user-command { color: #ff8800; font-weight: bold; }
.dzaima .value-tip target { }
.dzaima .value-tip { }
.dzaima .zilde { color: #dd99ff; font-weight: bold; }