.francisco-goya#output { color: rgba(153,204,119,1); background-color: rgba(0,0,0,1); }

.francisco-goya .assignment { color: rgba(255,255,0,1); }
.francisco-goya .bracket { color: rgba(136,136,136,1); }
.francisco-goya .comment { color: rgba(187,187,187,1); font-style: italic; }
.francisco-goya .cursor { }
.francisco-goya .dfn-level2 { color: rgba(238,187,68,1); }
.francisco-goya .dfn-level3 { color: rgba(204,119,153,1); }
.francisco-goya .dfn-level4 { color: rgba(204,221,0,1); }
.francisco-goya .dfn-level5 { color: rgba(170,0,221,1); }
.francisco-goya .dfn { color: rgba(170,119,187,1); }
.francisco-goya .diamond { color: rgba(255,255,0,1); }
.francisco-goya .dyadic-operator { color: rgba(255,221,102,1); }
.francisco-goya .error { color: rgba(255,0,0,1); background-color: rgba(136,34,34,0.5); font-weight: bold; }
.francisco-goya .function { color: rgba(0,255,0,1); }
.francisco-goya .global-name { font-weight: bold; }
.francisco-goya .idiom { color: rgba(0,255,0,1); }
.francisco-goya .keyword { color: rgba(170,170,34,1); }
.francisco-goya .label { background-color: rgba(102,68,34,0.5); text-decoration: underline; }
.francisco-goya .line-number { color: rgba(187,153,68,1); background-color: rgba(0,17,0,0); }
.francisco-goya .matching-bracket { color: rgba(0,0,0,1); background-color: rgba(0,0,0,0); }
.francisco-goya .modified-line { background-color: rgba(119,119,119,0.5); }
.francisco-goya .monadic-operator { color: rgba(221,153,85,1); }
.francisco-goya .normal { color: rgba(153,204,119,1); background-color: rgba(0,0,0,1); }
.francisco-goya .number { color: rgba(170,136,187,1); }
.francisco-goya .search-match { color: rgba(0,0,0,1); background-color: rgba(187,153,102,0.75); }
.francisco-goya .selection { background-color: rgba(0,68,136,0.5); }
.francisco-goya .semicolon { color: rgba(136,136,136,1); }
.francisco-goya .string { color: rgba(221,170,238,1); }
.francisco-goya .system-command { color: rgba(0,255,255,1); }
.francisco-goya .tracer { background-color: rgba(17,17,17,1); }
.francisco-goya .pendent { background-color: rgba(34,34,34,1); }
.francisco-goya .user-command { color: rgba(255,136,0,1); font-weight: bold; }
.francisco-goya .value-tip target { }
.francisco-goya .value-tip { color: rgba(255,255,0,1); background-color: rgba(119,51,51,1); }
.francisco-goya .zilde { color: rgba(221,153,255,1); font-weight: bold; }
.francisco-goya .chararr { color: rgba(0,255,0,1); background-color: rgba(130,130,130,1); }
.francisco-goya .charmat { color: rgba(0,255,0,1); background-color: rgba(0,0,0,1); }
.francisco-goya .charvec { color: rgba(0,0,0,1); background-color: rgba(255,255,255,1); }
.francisco-goya .charvecvec { color: rgba(0,255,255,1); background-color: rgba(0,0,0,1); }
.francisco-goya .mixarr { color: rgba(0,255,255,1); background-color: rgba(130,130,130,1); }
.francisco-goya .numarr { color: rgba(255,255,255,1); background-color: rgba(130,130,130,1); }
.francisco-goya .quador { color: rgba(255,255,255,1); background-color: rgba(255,0,0,1); }
.francisco-goya .disconnected { background-color: rgba(51,51,51,1); }